{% extends 'base.html.twig' %}

{% block title %}New Search{% endblock %}

{% block body %}
    <h1>Create new Search</h1>

    {{ include('search/_form.html.twig') }}

    <a href="{{ path('app_search_index') }}">back to list</a>
{% endblock %}
